@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color:
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.nav {
    margin-top: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

/* Giving padding to direct elements inside header */
.header>* {
    padding: 20px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0px;
    position: relative;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;
}

.card:hover{
    background-color: rgba(90, 85, 85, 0.701);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 1px;

}

.card img {
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 173px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease out;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn:hover {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover {
    padding: 10px 14px;
    font-weight: bold;
}

.playbar {
    position: fixed;
    bottom: 35px;
    background-color: rgb(228 228 228);
    width: 70vw;
    padding: 12px;
    border-radius: 18px;
    filter: invert(1);
    min-height: 35px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 427px;
    overflow: auto;
    ;
}

.songList ul {
    font-size: 12px;
    padding: 0 7px;

}

.songList .info {
    font-size: 10px;
    width: 344px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    margin-top: 2px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 12px;
    width: 64px;

}

.seekbar {
    height: 2px;
    width: 69vw;
    border-radius: 10px;
    background: black;
    position: absolute;
    bottom: 0;
    margin: 7px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
    width: 20px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger {
    display: none;
}

.hamburgerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songinfo{
width: 190px;
color: black;
padding-right: 0;
padding-left: 13px;
}

.timevol{
    display: flex;
    align-items: center;
}

.songtime {
    color: black;
    padding-left: 9px;
    padding-right: 12px;
}

.left .close {
    display: none;
}

#volsleekbar {
    width: 70px; 
}

.volume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info div{
    word-break: break-all;
}

@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        display: block;
    }

    .right {
        width: 100vw;
        /* changed */
        height: 100vh;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .card {
        width: 90vw;
    }

    .cardContainer{
        margin:0;
        justify-content: center;
    }

    .play {
        opacity: 0;
    }

    .hamburger {
        display: block;
    }
}